<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %> | <%=pageTitle%></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block"
      rel="stylesheet"
    />
    <script>
    
      window.dataLayer = window.dataLayer || [];
      var pageTitle = document.title
      var url = window.location.href
      dataLayer.push ({
       'event': 'Pageview',
       'pageURL': url,
       'title': pageTitle,
       'visitorType': 'customer'
      });
      
      </script>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TJ8V8XB');</script>
  <!-- End Google Tag Manager -->

  
  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJ8V8XB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
    <header>
      <div class="jumbotron d-none d-sm-block"></div>

      <%- include(`./partials/navigation`) %>
    </header>

    <%- include(`../pages/${template}`) %> <%- include(`./partials/scripts`) %>
  </body>
</html>
